<div class="container">
    <div class="be-comment-block">
        <h1 class="comments-title">Commentaires ({{comments.length}})</h1>
        <ng-container *ngFor="let comment of comments">
        <div class="be-comment">
            <div class="be-img-comment">    
                <img src="https://img.icons8.com/color/48/name--v2.png" alt="" class="be-ava-comment">
            </div>
            <div class="be-comment-content">
                <span class="be-comment-name">
                    <p>{{comment.user.firstname}} {{comment.user.lastname}}</p>
                    <p class="rating">Note : {{comment.note}}/5 
                        <span class="stars"><ng-container *ngFor="let i of getStarsArray(comment.note)">&#9733;</ng-container></span>
                    </p>   
                </span>
                <span class="be-comment-time">le {{ comment.createdAt}}</span>
                <p class="be-comment-text">{{comment.comment}}</p>
            </div>
        </div>
        </ng-container>
        <form class="form-block" #f="ngForm" (load)="getComments()" (ngSubmit)="makeComment()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <select class="form-input" name="note" [(ngModel)]="commentSend.note" required>
                            <option value="">Sélectionner une note</option>
                            <option value="1">1 &#9733;</option>
                            <option value="2">2 &#9733;</option>
                            <option value="3">3 &#9733;</option>
                            <option value="4">4 &#9733;</option>
                            <option value="5">5 &#9733;</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <textarea class="form-input" name="comment" [(ngModel)]="commentSend.comment" required placeholder="Votre Commentaire"></textarea>
                    </div>
                </div>
                <div class="col-xs-12">
                    <input class="btn" type="submit" value="Confirmer">
                </div>
            </div>
        </form>
        
    </div>
</div>
