  .listing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .location-card {
    flex: 0 0 calc(33.33% - 20px); /* Pour obtenir 3 colonnes avec un espace entre */
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  