.location-details {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.location-details h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.details {
  margin-bottom: 20px;
}

.details p {
  margin: 10px 0;
  color: #666;
}

.property-photo {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin-bottom: 20px;
  border-radius: 10px;
}

.confirm-button {
  padding: 12px 24px;
  background-color: #ff585d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.confirm-button:hover {
  background-color: #ff3338;
}

.map-responsive {
  height: 70%;
  width: 70%;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.map-title {
  margin-top: 3em;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.map-title h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-group input[type="date"],
.form-group input[type="number"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group input[type="date"]:focus,
.form-group input[type="number"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Style pour le placeholder */
.form-group input[type="date"]::placeholder,
.form-group input[type="number"]::placeholder {
  color: #999;
}

/* Style pour les messages d'erreur */
.form-group .error-message {
  color: #ff585d;
  font-size: 14px;
  margin-top: 5px;
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"] {
  width: 50px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}

.form-group button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #f0f0f0;
}

.form-group button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.form-group button:disabled:hover {
  background-color: #f0f0f0;
}

.form-group div {
  display: flex;
  text-align: left;
}
.error {
  background-color: #ffe8e8;
  color: #ff0000;
  padding: 10px; 
  border: 1px solid #ff0000;
  border-radius: 4px;
  margin-bottom: 20px;
}
.payment-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-modal {
  background-color: #fff; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 90%;
}

.payment-modal h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.payment-details h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

.price-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.price-item span {
  margin-top: 5px; 
  font-size: 20px;
  font-weight: bold;
}

.price-item span:first-child {
  color: #ff585d;
  font-size: 18px;
}

.payment-form h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.cancel-button,
.confirm-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.cancel-button {
  background-color: #ffcccc;
  color: #333;
}

.confirm-button {
  background-color: #ff585d;
  color: #fff; 
}

#cvv {
  width: 50px;
  text-align: left;
}

#expiration-date {
  width: 100px;
  text-align: left;
}

#card-number {
  width: 100%;
  text-align: left;
}

.btn{
  background-color: #ff4247;
  border-color: #ff4247;
  color: white;
  padding: 1vh;
  font-weight: bold;
}

.btn:focus{
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  user-select: none;
  transition: none; 
}

.btn:hover{
  color: white;
}