<app-header></app-header>
<br/>
<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="location-details">
      <h2>Détails Logement</h2>
      <div class="details">
        <img src="{{ property.img }}" alt="Property Photo" class="property-photo">
        <p><strong>Ville :</strong> {{ property.city }}</p>
        <p><strong>Rue :</strong> {{ property.street }}</p>
        <p><strong>Code Postal:</strong> {{ property.zipCode }}</p>
        <p><strong>Nombre de couchages :</strong> {{ property.numSleeps }}</p>
        <p><strong>Nombre de lits :</strong> {{ property.numBedrooms }}</p>
        <p><strong>Distance du centre ville :</strong> {{ property.distance }} km</p>
        <p><strong>Prix par Nuit:</strong> {{ property.price }} € </p>
        <p *ngIf="property.review"><strong>Review Score:</strong> {{ property.review }}</p>
        <div *ngIf="!filter.startDate || !filter.endDate">
          <div class="form-group">
            <label for="start-date">Début :</label>
            <input type="date"  placeholder="Début" class="form-control" id="start-date" name="start-date" [(ngModel)]="filter_model.startDate" required>
          </div>
          <div class="form-group">
            <label for="end-date">Fin :</label>
            <input type="date" placeholder="Fin" class="form-control" id="end-date" name="end-date" [(ngModel)]="filter_model.endDate" required>
          </div>
          <div class="form-group">
            <label for="numSleeps">Nombre de personnes :</label>
            <div>
              <button type="button" (click)="decrementValue()" [disabled]="filter_model.minBeds == 1 ">-</button>
              <input type="text" disabled="true" class="form-control" id="numSleeps" name="numSleeps" min="1" [max]="property.numSleeps" [(ngModel)]="filter_model.minBeds">
              <button type="button" (click)="incrementValue()" [disabled]="filter_model.minBeds == property.numSleeps">+</button>
            </div>
          </div> 
        </div>
      </div>
      <div *ngIf="!propertyAvailable" class="error">
        <p>Le bien n'est malheureusement pas disponible.</p>
      </div>
      <input type="submit" class="btn" value="Confirmer la location">
  </div>
</form>
<div class="map-title" id="map">
  <h3>Où se situe le logement ?</h3>
  <h2>Adresse: {{ property.street }}, {{ property.zipCode }} {{ property.city }}</h2>
  <h2>Vous trouverez ci-dessous la carte de localisation du logement. <a href="location#map" style="color: black;"><i class="fas fa-arrow-down"></i> </a> </h2>
</div>
<div id="map-container" class="map-responsive">
</div>
<br/>
<app-review-box [idProperty]="property.idProperty"></app-review-box>

<app-footer></app-footer>


<div class="overlay" *ngIf="showOverlay">
  <div class="payment-overlay">
    <div class="payment-modal">
      <h1>Facturation</h1>
      <div class="payment-details">
        <h2> Détails de Réservation</h2>
        <div class="price-item">
          <span>{{ property.price }} € x {{ calculateNumberOfNights() }} nuits</span>
          <span>Total: {{ calculateTotalPrice() }} €</span>
        </div>      
      </div>
      <form #f="ngForm" (ngSubmit)="onSubmitReservation()">
        <div class="payment-form">
          <h2>Informations de Paiement</h2>
          <div class="form-group">
            <label for="card-number">Numéro de Carte :</label>
            <input type="text" class="form-control" id="card-number" name="card-number" [(ngModel)]="payment.cardNumber" required>
          </div>
          <div class="form-group">
            <label for="expiration-date">Date d'expiration :</label>
            <input type="text" class="form-control" id="expiration-date" name="expiration-date" [(ngModel)]="payment.expirationDate" required>
          </div>
          <div class="form-group">
            <label for="cvv">CVV:</label>
            <input type="text" class="form-control" id="cvv" name="cvv" [(ngModel)]="payment.cvv" required>
          </div>
          <div class="button-group">
            <button class="cancel-button" (click)="closeOverlay()">Annuler</button>
            <input type="submit" class="confirm-button" value="Confirmer">
          </div>
        </div>
      </form>
    </div>
  </div>
</div> 
