.hero {
  position: relative;
  background: #eee;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.color {
  color: #eb5157;
  font-size: 8px;
}

.headline {
  text-align: center;
  background: #eee;
  font-size: 2em;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
}