/* Hero image from Unsplash.com */
  .hero {
    position: relative;
    height: 110vh;
    background: #e7c0c7;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .hero-content {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 3em;
    margin: 0;
  }
  
  .hero-content p {
    font-size: 1.5em;
    margin: 20px 0 0;
  }