<app-header></app-header>
<br/>

<div class="wrapper">
    <div class="row">
        <div class="col-md-8">
            <div class="card mx-auto"> <!-- Ajout de la classe mx-auto -->
                <div class="title">
                    <div class="row">
                        <div class="col"><h2><b>Historique de Recherche</b></h2 ></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="main align-items-center justify-content-between">
                            <div class="col-2"><img class="img-fluid" src="https://source.unsplash.com/1600x900/?house"></div>
                            <div class="col">
                                <div><a href="#">Logement à Montpellier</a></div>
                            </div>
                            <div class="col text-right">Recherché aujourd'hui</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="main align-items-center justify-content-between">
                            <div class="col-2"><img class="img-fluid" src="https://source.unsplash.com/1600x900/?house"></div>
                            <div class="col">
                                <div><a href="#">Logement à Paris</a></div>
                            </div>
                            <div class="col text-right">Recherché hier</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="main align-items-center justify-content-between">
                            <div class="col-2"><img class="img-fluid" src="https://source.unsplash.com/1600x900/?house"></div>
                            <div class="col">
                                <div><a href="#">Logement à Marseille</a></div>
                            </div>
                            <div class="col text-right">Recherché il y a 3 jours</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<app-footer></app-footer>
