<app-header></app-header>
<br/>
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="back-to-shop"><a href="/locations"><i class="fas fa-arrow-left"></i> Back to shop</a></div>
            <div class="title">
                <div class="row">
                    <div class="col"><h2><b>Panier</b></h2 ></div>
                    <div class="col"></div>
                    <div class="col align-self-center text-right text-muted">3 locations</div>
                </div>
            </div>    
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="https://source.unsplash.com/1600x900/?house"></div>
                    <div class="col">
                        <div class="row">Location à Montpellier</div>
                    </div>
                    <div class="col"></div>
                    <div class="col">3 jours</div>
                    <div class="col">144.00 &euro;<a href="#">&#10005;</a></div>
                </div>
            </div>
            <div class="row">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="https://source.unsplash.com/1600x900/?house"></div>
                    <div class="col">
                        <div class="row">Location à Paris</div>
                    </div>
                    <div class="col"></div>
                    <div class="col">1 jour</div>
                    <div class="col">144.00 &euro; <a href="#">&#10005;</a></div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="https://source.unsplash.com/1600x900/?house"></div>
                    <div class="col">
                        <div class="row">Location à Marseille</div>
                    </div>
                    <div class="col"></div>
                    <div class="col">7 jours</div>
                    <div class="col">144.00 &euro; <a href="#">&#10005;</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>TOTAL :</b></h5></div>
            <hr>
            <div class="row">
                <div class="col">LOCATIONS :</div>
                <div class="col text-right">3</div>
            </div>
            <div class="row summary_bottom" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col"><b>PRIX TOTAL :</b></div>
                <div class="col text-right">137.00 &euro;</div>
            </div>
            <button class="btn">PAYER</button>
        </div>
    </div>
    
</div>
<br/><br/><br/><br/>
<app-footer></app-footer>