<!-- Footer -->
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
        <p><img src="../assets/logo.png" alt="Logo" height="40">&copy; Tous droits réservés.</p>
        <p class="text-muted">Ce site est un projet réalisé en Master Génie Logiciel.</p>
        <p class="text-muted">Il a été réalisé par <a href="https://github.com/eric-gilles/">Eric Gilles</a> et <a href="https://github.com/morgannavel">Morgan Navel</a>.</p>  
    </div>
</footer>