body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
}

.login {
    background-color: #ffffff;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
    transition: opacity 0.3s ease;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login label {
    font-size: 20px;
    margin-bottom: 10px;
}

.login input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.login button {
    background-color: #ff5a5f;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.login button:hover{
    cursor: pointer;
    background-color: #e04245;
}

label {
    font-size: 16px;
    color: #666;
}

label:before {
    content: " ";
}

.input-container {
    position: relative;
}

.input-container label {
    position: absolute;
    top: 35%;
    left: 10px;
    transform: translateY(-50%);
    color: #666;
    font-size: 16px;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -9px;
    font-size: 12px;
    color: #999;
}

.input-container input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}