<a (click)="navigate()">
    <section class="listing">
        <img class="listing-photo" [src]="property.img" alt="Location Image" width="450px" height="300px">
        <h2 class="listing-location">{{ property.city }}, France</h2>
        <p>{{ property.numBedrooms }} chambres, {{ property.numSleeps }} couchages</p>
        <p>{{ property.distance }} m de la ville</p>
        <p> <span class="price">{{ property.price }}€</span> par nuit</p>
        <div class="rating"> <span class="stars">&#9733;&nbsp;</span><span>{{ property.review }}</span></div>
    </section>
</a>